input{
    border-radius: 5px;
    width: 300px;
    background-color: white;
    height: 35px;
    border-color: rgb(30, 173, 230);
}
.forgot_button{
    border-style: none;
    background-color: beige;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 200px;
}
.login_button{
    font-size: 20px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(30, 173, 230);
    border-style: none;
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    
}

.option_top{
    margin-top: 30px;
}
.page_top{
    padding-top: 100px;
}
::placeholder{
    padding-left: 10px;
    
}
h1{
    color: rgb(30, 173, 230);
    font-size: 60px;
}
.p1{
    margin-top: 20px;
}
.col-5{
    height: 650px;
    background-color: beige;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}